@import '_content/Codespirals.Blazor.Components/Codespirals.Blazor.Components.frf8j9a5xl.bundle.scp.css';

/* /Components/EquipmentItem.razor.rz.scp.css */
.quantity[b-618e2hwvvj] {
	padding-top: 0.25rem;
	margin-left: 0.5rem;
}

.weight[b-618e2hwvvj] {
	padding-top: 0.25rem;
	text-align: right;
}

.equipment-item[b-618e2hwvvj] {
	display: grid;
	grid-template-columns: max-content auto 60px;
}

.equipment-effect[b-618e2hwvvj] {
	margin-left: 0.5rem;
	background-color: var(--color-contrast-1);
}
/* /Components/GearItem.razor.rz.scp.css */
.gear-item[b-fjuljd0fq1] {
	display: grid;
	grid-template-columns: 150px auto 50px;
}

.gear-label[b-fjuljd0fq1] {
	padding-top: 0.25rem;
}
.gear-bonus[b-fjuljd0fq1] {
	margin-left: 0.5rem;
	background-color: var(--color-contrast-1);
}
/* /Components/Generic/CollapsibleSection.razor.rz.scp.css */

section[b-2pkj2t3gig] {
	border-top: 1px solid var(--color-foreground);
	display: grid;
	grid-template-columns: auto 60px;
	background-color: var(--color-contrast-0);
}

h3[b-2pkj2t3gig] {
	margin: 0;
	padding-top: 0.5rem;
	padding-left: 0.5rem;
	text-transform: uppercase;
}

button[b-2pkj2t3gig] {
	margin: 0.25rem 0.5rem;
}

.collapsible-section-content[b-2pkj2t3gig] {
	grid-column: span 2;
	display: block;
	background-color: var(--color-background);
	padding: 0 0.5rem 0.5rem 0.5rem;
}

	.collapsible-section-content.collapsed[b-2pkj2t3gig] {
		display: none;
	}
/* /Components/Generic/LineGraph.razor.rz.scp.css */
table[b-ohkuqywe93] {
	--chart-label-height: 0px;
	--chart-title-height: 0px;
	--line-stroke: 1px;
	position: relative;
	width: 100%;
	min-height: 100px;
	display: grid;
	grid-template-columns: 1fr;
}

caption[b-ohkuqywe93] {
	font-size: 1rem;
	font-weight: bold;
}

thead[b-ohkuqywe93] {
	position: absolute;
	width: 100%;
	height: calc(100% - var(--chart-title-height) - var(--chart-label-height));
	margin-top: var(--chart-title-height);
}
	thead > tr[b-ohkuqywe93] {
		height: 100%;
		width: 100%;
		display: grid;
		grid-template-rows: 1fr auto;
	}
th.min[b-ohkuqywe93] {
	position: absolute;
	width: 100%;
	bottom: 0;
	border-bottom: 1px dotted var(--color-foreground);
	text-align: left;
	font-size: 0.75rem;
}
th.max[b-ohkuqywe93] {
	position: absolute;
	width: 100%;
	height: calc(100% * var(--value) / var(--max));
	border-top: 1px dotted var(--color-foreground);
	bottom: 0;
	text-align: left;
	font-size: 0.75rem;
}
th.marked[b-ohkuqywe93] {
	position: absolute;
	width: 100%;
	height: calc(100% * var(--value) / var(--max));
	border-top: 1px dotted red;
	bottom: 0;
	text-align: left;
	font-size: 0.75rem;
}

tbody[b-ohkuqywe93] {
	position: absolute;
	width: calc(100% - 3rem);
	height: calc(100% - var(--chart-title-height));
	bottom: 0;
	display: grid;
	margin-left: 3rem;
	grid-template-columns: repeat(var(--total-points), auto);
	overflow-inline: clip;
}

tbody > tr[b-ohkuqywe93] {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr auto;
	overflow-inline: clip;
	align-content: end;
	align-items: end;
}

tbody > tr > th[b-ohkuqywe93] {
	text-align: center;
	order: 1;
}

	.chart-value[b-ohkuqywe93] {
		height: calc(100% * var(--value) / var(--max));
		background-color: var(--color-primary);
		text-align: center;
		position: relative;
	}
		.chart-value:hover > .chart-value-label[b-ohkuqywe93] {
			display: block;
		}

.chart-value-label[b-ohkuqywe93] {
	position: absolute;
	width: 100%;
	text-align: center;
	display: none;
	margin-top: -1.25rem;
}

/* /Components/Generic/PercentageBar.razor.rz.scp.css */
.bar[b-6m5qfrz68s] {
	width: calc(100% - 2px);
	border: 1px solid var(--color-foreground);
}
.percentage[b-6m5qfrz68s] {
	height: 100%;
	width: var(--percentage);
}
	.percentage > label[b-6m5qfrz68s] {
		margin-left: 0.25rem;
		height: 100%;
		font-size: 80%;
		color: white;
		text-shadow: 1px 1px black, -1px 1px black, 1px -1px black, -1px -1px black;
	}
/* /Components/Generic/TimerOutput.razor.rz.scp.css */
.timer[b-6984q9advj] {
	min-width: 80px;
	display: grid;
	grid-template-columns: auto min-content;
	border: 2px solid #666;
	font-size: inherit;
}

.timer-output[b-6984q9advj] {
	text-align: center;
	font-size: inherit;
	padding-top: 0.125rem;
}
/* /Components/SpellOrAbility.razor.rz.scp.css */
.spell[b-ncogv3ey06] {
	display: grid;
	grid-template-columns: auto 24px 16px 24px 16px;
}
.spell-label[b-ncogv3ey06] {
	padding-top: 0.125rem;
}
.spell-effect[b-ncogv3ey06] {
	margin-left: 0.5rem;
	background-color: var(--color-contrast-1);
}
/* /Components/StatDisplay.razor.rz.scp.css */

.stats[b-u60kk723l3] {
	display: grid;
	grid-template-columns: max-content;
}

.stat[b-u60kk723l3] {
	position: relative;
	height: 40px;
	aspect-ratio: 1;
	margin-bottom: 0.75rem;
	text-align: center;
	font-size: 24px;
	border-radius: 50%;
	border: 5px solid var(--color);
	background: var(--color-background);
	display: flex;
	justify-content: center;
	align-items: center;
}
	.stat > label[b-u60kk723l3] {
		position: absolute;
		bottom: -10px;
		left: 0;
		width: 100%;
		font-size: 12px;
		font-weight: bold;
		border-radius: 0.25rem;
		background: var(--color-background);
		border: 1px solid var(--color);
	}
/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-fzvffkfgi1] {
    --sidebar-height: 2.5rem;
    --sidebar-width: 100%;
    display: block;
    height: 100vh;
    width: 100vw;
    min-width: calc(var(--min-width) + 20);
}

main[b-fzvffkfgi1] {
    position: absolute;
    top: var(--sidebar-height);
    right: 0;
    width: 100%;
    height: calc(100% - var(--sidebar-height) - 1px);
    overflow-x: hidden;
}

.sidebar[b-fzvffkfgi1] {
    background-color: var(--color-contrast-0);
    position: sticky;
    height: var(--sidebar-height);
    width: var(--sidebar-width);
    z-index: 1;
    background-image: var(--texture-paper);
    border: none;
    border-bottom: 1px solid var(--color-foreground);
    border-bottom: 1px solid var(--color-foreground);
}

@media (min-width: 840px) {
    .page[b-fzvffkfgi1] {
        --sidebar-height: 0;
        --sidebar-width: 10rem;
    }

    main[b-fzvffkfgi1] {
        top: 0;
        height: 100vh;
        width: calc(100% - var(--sidebar-width));
    }

    .sidebar[b-fzvffkfgi1] {
        position: static;
        height: 100%;
        border: none;
        border-right: 1px solid var(--color-foreground);
    }
}
/* /Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-n07nno9l7k] {
	position: absolute;
	z-index: 2;
	top: 0;
	right: 0;
	margin: 0.25rem 0.5rem;
	height: 2rem;
	width: 2rem;
	padding: 0 0.25rem;
	background-color: var(--color-foreground);
	border: 2px solid var(--color-background);
}
	.navbar-toggler:hover[b-n07nno9l7k] {
		color: var(--color-primary-shade);
		border-color: var(--color-primary-shade);
	}

.line[b-n07nno9l7k] {
	border-bottom: 2px solid var(--color-background);
	margin: 0.25rem 0;
}

.collapse[b-n07nno9l7k] {
	display: none;
}

.navbar-brand[b-n07nno9l7k] {
	padding: calc(0.25rem + 1px) 0.625rem;
	margin: 0;
}

nav[b-n07nno9l7k] {
	position: absolute;
	min-width: min-content;
	width: 100%;
	display: block;
	font-family: "Lucida Console", "Courier New", monospace;
	background-color: var(--color-contrast-0);
	border-bottom: 1px solid var(--color-foreground);
	border-top: 1px solid var(--color-foreground);
}

	nav[b-n07nno9l7k]  a {
		display: block;
		width: 100%;
		padding: 0.5rem 0;
		height: min-content;
		text-align: center;
		border-bottom: 1px solid var(--color-foreground);
	}
	nav[b-n07nno9l7k]  a:hover {
		background-color: var(--color-contrast-1);
	}
	nav[b-n07nno9l7k]  a.active, .navbar-brand[b-n07nno9l7k]  a.active {
		text-decoration: underline var(--color-primary);
	}


@media (min-width: 840px) {
	.navbar-brand[b-n07nno9l7k] {
		text-align: center;
	}
	.navbar-toggler[b-n07nno9l7k] {
		display: none;
	}

	.collapse[b-n07nno9l7k] {
		/* Never collapse the sidebar for wide screens */
		display: block;
	}

	nav[b-n07nno9l7k] {
		position: static;
		border-bottom: 0;
	}

	.nav-scrollable[b-n07nno9l7k] {
		/* Allow sidebar to scroll for tall menus */
		overflow-y: auto;
	}
}
/* /Pages/Armory.razor.rz.scp.css */

header[b-p08nch7hwf] {
	display: grid;
	grid-template-columns: auto min-content;
	padding: 0.5rem;
}

	header > h2[b-p08nch7hwf] {
		font-size: 1.5rem;
		margin: 0;
	}

button[b-p08nch7hwf] {
	padding: 0.125rem 0;
	height: 32px;
}

.right-button[b-p08nch7hwf] {
	margin-left: 0.5rem;
}

.left-button[b-p08nch7hwf] {
	margin-right: 0.5rem;
}

.character-gear[b-p08nch7hwf] {
	display: grid;
	grid-template-columns: 1fr 40px;
	border-top: 1px dotted var(--color-foreground);
	margin-top: 0.25rem;
}

.armory-gear[b-p08nch7hwf] {
	display: grid;
	grid-template-columns: 40px auto 40px 40px;
	border-top: 1px dotted var(--color-foreground);
	margin-top: 0.25rem;
}

	.character-gear > button[b-p08nch7hwf],
	.armory-gear > button[b-p08nch7hwf] {
		margin-top: 0.25rem;
	}

.edit-gear > button[b-p08nch7hwf] {
	width: 80px;
	margin: 0.5rem 0;
}

.edit-gear-effects[b-p08nch7hwf] {
	border-top: 1px solid var(--color-foreground);
	display: grid;
	grid-template-columns: 1fr 50px;
}

.gear-effect[b-p08nch7hwf] {
	padding-top: 0.75rem;
}
/* /Pages/CharacterSelection.razor.rz.scp.css */

header[b-wciicapdkn] {
	display: grid;
	grid-template-columns: auto min-content;
	padding: 0.5rem;
}

	header > h2[b-wciicapdkn] {
		font-size: 1.5rem;
		margin: 0;
	}

button[b-wciicapdkn] {
	padding: 0.125rem 0;
	height: 32px;
}

.right-button[b-wciicapdkn] {
	margin-left: 0.5rem;
}

.left-button[b-wciicapdkn] {
	margin-right: 0.5rem;
}

.character[b-wciicapdkn] {
	padding: 0.5rem;
	display: grid;
	grid-template-columns: 40px max-content min-content auto 40px 40px;
}

	.character :nth-child(2)[b-wciicapdkn] {
		margin-right: 0.5rem;
	}
	.character :nth-child(3)[b-wciicapdkn], .character :nth-child(4)[b-wciicapdkn] {
		padding-top: 0.5rem;
	}

	.character > div[b-wciicapdkn] {
		padding-top: 0.25rem;
	}

	.character.active :nth-child(2)[b-wciicapdkn] {
		text-decoration: underline 3px var(--color-primary);
	}
		.character.active :nth-child(2)[b-wciicapdkn]:after {
			color: var(--color-foreground);
			font-size: 1rem;
			content: " ✔";
		}

.create-new[b-wciicapdkn] {
	padding: 0.5rem;
}
/* /Pages/EditSettings.razor.rz.scp.css */
header[b-6t63es5wh7] {
	display: grid;
	grid-template-columns: auto min-content;
	padding: 0.5rem;
}

	header > h2[b-6t63es5wh7] {
		font-size: 1.5rem;
		margin: 0;
	}

button[b-6t63es5wh7] {
	padding: 0.125rem 0;
	height: 32px;
}

.right-button[b-6t63es5wh7] {
	margin-left: 0.5rem;
}

.left-button[b-6t63es5wh7] {
	margin-right: 0.5rem;
}

section[b-6t63es5wh7] {
	padding: 0.5rem;
}

.settings > button[b-6t63es5wh7] {
	margin-top: 0.5rem;
}

.export[b-6t63es5wh7] {
	display: grid;
	grid-template-columns: auto 100px;
}
	.export > label[b-6t63es5wh7] {
		padding: 0.25rem 0;
	}
	.export > *[b-6t63es5wh7] {
		margin: 0.125rem 0;
	}

.tables[b-6t63es5wh7] {
	display: grid;
	grid-template-columns: max-content 20px max-content;
}

.modifiers[b-6t63es5wh7] {
	display: grid;
	grid-template-columns: max-content 80px;
}
	.modifiers > div[b-6t63es5wh7] {
		text-align: right;
		border-top: 1px solid var(--color-foreground);
	}

.levels[b-6t63es5wh7] {
	grid-row: span 2;
	float: right;
	display: grid;
	grid-template-columns: max-content 60px;
}

	.levels > div[b-6t63es5wh7] {
		text-align: right;
		border-top: 1px solid var(--color-foreground);
	}
/* /Pages/EditStats.razor.rz.scp.css */

header[b-seb96asjuv] {
	display: grid;
	grid-template-columns: auto min-content;
	padding: 0.5rem;
}

	header > h2[b-seb96asjuv] {
		font-size: 1.5rem;
		margin: 0;
	}

section[b-seb96asjuv] {
	padding: 0.5rem;
}

.general > button[b-seb96asjuv] {
	margin: 0.5rem 0;
	height: 32px;
}

.stats[b-seb96asjuv] {
	display: grid;
	grid-template-columns: 40px 110px 70px auto 40px;
}
	.stats > button[b-seb96asjuv] {
		margin-top: 0.5rem;
		height: 32px;
	}

.right-button[b-seb96asjuv] {
	margin-left: 0.5rem;
}

.left-button[b-seb96asjuv] {
	margin-right: 0.5rem;
}

.stat[b-seb96asjuv] {
	grid-column: span 5;
	display: grid;
	grid-template-columns: 40px 120px 80px auto 40px;
	border-top: 1px dotted var(--color-foreground);
	margin-bottom: 0.25rem;
}
	.stat > div[b-seb96asjuv] {
		padding-top: 0.675rem;
	}
	.stat > button[b-seb96asjuv] {
		margin-top: 0.25rem;
		height: 32px;
		width: 32px;
	}
/* /Pages/EquipmentChest.razor.rz.scp.css */

header[b-mlfjfescgw] {
	display: grid;
	grid-template-columns: auto min-content;
	padding: 0.5rem;
}

	header > h2[b-mlfjfescgw] {
		font-size: 1.5rem;
		margin: 0;
	}

button[b-mlfjfescgw] {
	padding: 0.125rem 0;
	height: 32px;
}

.right-button[b-mlfjfescgw] {
	margin-left: 0.5rem;
}

.left-button[b-mlfjfescgw] {
	margin-right: 0.5rem;
}

.inventory-item[b-mlfjfescgw] {
	display: grid;
	grid-template-columns: 1fr 40px;
	border-top: 1px dotted var(--color-foreground);
}

.equipment-chest-item[b-mlfjfescgw] {
	display: grid;
	grid-template-columns: 40px auto 40px 40px;
	border-top: 1px dotted var(--color-foreground);
}

	.inventory-item > button[b-mlfjfescgw],
	.equipment-chest-item > button[b-mlfjfescgw] {
		margin-top: 0.25rem;
	}

.edit-equipment > button[b-mlfjfescgw] {
	width: 80px;
	margin: 0.5rem 0;
}

.equipment-effect[b-mlfjfescgw] {
	margin-top: 0.25rem;
	padding-top: 0.25rem;
	border-top: 1px dotted var(--color-foreground);
	display: grid;
	grid-template-columns: 50px auto 50px;
}

.effect-text[b-mlfjfescgw] {
	padding-top: 0.5rem;
}
/* /Pages/SessionOverview.razor.rz.scp.css */

header[b-bvcnn3jp5k] {
	display: grid;
	grid-template-columns: auto min-content;
	padding: 0.5rem;
}

	header > h2[b-bvcnn3jp5k] {
		font-size: 1.5rem;
		margin: 0;
	}

.active-session[b-bvcnn3jp5k], .turns[b-bvcnn3jp5k] {
	padding: 0.5rem;
	display: grid;
	grid-template-columns: auto;
}
/* /Pages/SpellLibrary.razor.rz.scp.css */

header[b-7o5kvrkihh] {
	display: grid;
	grid-template-columns: auto min-content;
	padding: 0.5rem;
}

	header > h2[b-7o5kvrkihh] {
		font-size: 1.5rem;
		margin: 0;
	}

button[b-7o5kvrkihh] {
	padding: 0.125rem 0;
	height: 32px;
}

.right-button[b-7o5kvrkihh] {
	margin-left: 0.5rem;
}
.left-button[b-7o5kvrkihh] {
	margin-right: 0.5rem;
}

.spellbook-spell[b-7o5kvrkihh] {
	display: grid;
	grid-template-columns: 1fr 40px;
	border-top: 1px dotted var(--color-foreground);
	margin-top: 0.25rem;
}

.library-spell[b-7o5kvrkihh] {
	display: grid;
	grid-template-columns: 40px auto 40px 40px;
	border-top: 1px dotted var(--color-foreground);
	margin-top: 0.25rem;
}
	.spellbook-spell > button[b-7o5kvrkihh],
	.library-spell > button[b-7o5kvrkihh] {
		margin-top: 0.25rem;
	}

	.edit-spell > button[b-7o5kvrkihh] {
		width: 80px;
		margin: 0.5rem 0;
	}

.edit-spell-effects[b-7o5kvrkihh] {
	border-top: 1px solid var(--color-foreground);
	display: grid;
	grid-template-columns: 1fr 50px;
}

.spell-effect[b-7o5kvrkihh] {
	
}
/* /Pages/Tracker.razor.rz.scp.css */

header[b-v6gsu6n763] {
	display: grid;
	grid-template-columns: auto min-content;
	padding: 0.5rem;
}

	header > h2[b-v6gsu6n763] {
		font-size: 1.5rem;
		margin: 0;
	}

.timer-controls[b-v6gsu6n763] {
	display: grid;
	grid-template-columns: auto auto;
}

	.timer-controls > button[b-v6gsu6n763] {
		margin-left: auto;
		margin-right: auto;
		border-radius: 1rem;
		height: 32px;
		width: 120px;
	}

.player[b-v6gsu6n763] {
	padding: 0.5rem;
	display: grid;
	grid-template-columns: min-content auto;
}

.stats[b-v6gsu6n763] {
	grid-row: span 3;
	margin-right: 1rem;
}

.portrait[b-v6gsu6n763] {
	display: grid;
	grid-template-columns: max-content 30px auto;
	margin-top: 0.5rem;
}

.profile-image[b-v6gsu6n763] {
	height: 100px;
	aspect-ratio: 1;
	overflow: hidden;
	border-radius: 50%;
	border: 4px solid var(--color-primary);
	margin: 0 auto;
}
	.profile-image > img[b-v6gsu6n763] {
		width: 100%;
		margin: 0 auto;
	}

.level[b-v6gsu6n763] {
	padding-top: 0.375rem;
}

.health[b-v6gsu6n763], .mana[b-v6gsu6n763] {
	display: grid;
	grid-template-columns: 20px 40px min-content 40px auto;
}

.action-button[b-v6gsu6n763] {
	width: 100%;
	margin-top: 2rem;
	height: 32px;
}

.spellbook[b-v6gsu6n763] {
	display: grid;
	grid-template-columns: 1fr;
}

.spell[b-v6gsu6n763] {
	display: grid;
	grid-template-columns: auto 60px 60px;
	border-top: 1px dotted var(--color-foreground);
}

.equipment-item[b-v6gsu6n763] {
	display: grid;
	grid-template-columns: auto 60px 60px;
	border-top: 1px dotted var(--color-foreground);
}
	.spell > button[b-v6gsu6n763],
	.equipment-item > button[b-v6gsu6n763] {
		margin: 0.5rem 0 0.5rem 0.5rem;
		height: 32px;
	}

.active-effect[b-v6gsu6n763] {
	display: grid;
	grid-template-columns: 30px auto 90px 75px 35px;
	border-top: 1px dotted var(--color-foreground);
}

	.active-effect > div[b-v6gsu6n763] {
		padding-top: 0.875rem;
		margin: 0 0.25rem;
	}

.edit-active-effect > button[b-v6gsu6n763] {
	display: inline-block;
	width: 100px;
	margin: 0.5rem auto 0.25rem auto;
	height: 32px;
}

