@import '_content/Codespirals.Blazor.Components/Codespirals.Blazor.Components.frf8j9a5xl.bundle.scp.css';

/* /Components/CastableSpell.razor.rz.scp.css */
.spell[b-v7jnj9v83g] {
	display: grid;
	grid-template-columns: min-content auto;
}
/* /Components/LineGraph.razor.rz.scp.css */
table[b-p4l6543wo3] {
	--chart-label-height: 0px;
	--chart-title-height: 0px;
	--line-stroke: 1px;
	position: relative;
	width: 100%;
	min-height: 100px;
	display: grid;
	grid-template-columns: 1fr;
}

caption[b-p4l6543wo3] {
	font-size: 1rem;
	font-weight: bold;
}

thead[b-p4l6543wo3] {
	position: absolute;
	width: 100%;
	height: calc(100% - var(--chart-title-height) - var(--chart-label-height));
	margin-top: var(--chart-title-height);
}
	thead > tr[b-p4l6543wo3] {
		height: 100%;
		width: 100%;
		display: grid;
		grid-template-rows: 1fr auto;
	}
th.min[b-p4l6543wo3] {
	position: absolute;
	width: 100%;
	bottom: 0;
	border-bottom: 1px dotted var(--color-foreground);
	text-align: left;
	font-size: 0.75rem;
}
th.max[b-p4l6543wo3] {
	position: absolute;
	width: 100%;
	height: calc(100% * var(--value) / var(--max));
	border-top: 1px dotted var(--color-foreground);
	bottom: 0;
	text-align: left;
	font-size: 0.75rem;
}
th.marked[b-p4l6543wo3] {
	position: absolute;
	width: 100%;
	height: calc(100% * var(--value) / var(--max));
	border-top: 1px dotted red;
	bottom: 0;
	text-align: left;
	font-size: 0.75rem;
}

tbody[b-p4l6543wo3] {
	position: absolute;
	width: calc(100% - 3rem);
	height: calc(100% - var(--chart-title-height));
	bottom: 0;
	display: grid;
	margin-left: 3rem;
	grid-template-columns: repeat(var(--total-points), auto);
	overflow-inline: clip;
}

tbody > tr[b-p4l6543wo3] {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr auto;
	overflow-inline: clip;
	align-content: end;
	align-items: end;
}

tbody > tr > th[b-p4l6543wo3] {
	text-align: center;
	order: 1;
}

	.chart-value[b-p4l6543wo3] {
		height: calc(100% * var(--value) / var(--max));
		background-color: var(--color-primary);
		text-align: center;
		position: relative;
	}
		.chart-value:hover > .chart-value-label[b-p4l6543wo3] {
			display: block;
		}

.chart-value-label[b-p4l6543wo3] {
	position: absolute;
	width: 100%;
	text-align: center;
	display: none;
	margin-top: -1.25rem;
}

/* /Components/PercentageBar.razor.rz.scp.css */
.bar[b-jy6if1wjcr] {
	width: 100%;
	border: 1px solid var(--color-foreground);
}
.percentage[b-jy6if1wjcr] {
	height: 100%;
	width: var(--percentage);
}
	.percentage > label[b-jy6if1wjcr] {
		margin-left: 0.25rem;
		height: 100%;
		font-size: 80%;
		color: white;
		text-shadow: 1px 1px black, -1px 1px black, 1px -1px black, -1px -1px black;
	}
/* /Components/StatDisplay.razor.rz.scp.css */

.stats[b-u60kk723l3] {
	display: grid;
	grid-template-columns: repeat(var(--stat-count), auto);
	padding: 0.25rem 0 0.75rem 0;
}

.stat[b-u60kk723l3] {
	position: relative;
	height: max(6vw, 18px);
	max-height: 72px;
	aspect-ratio: 1;
	margin: 0 auto;
	text-align: center;
	font-size: min(max(4vw, 14px), 50px);
	border-radius: 50%;
	border: min(max(1vw, 3px), 10px) solid var(--color);
	background: var(--color-background);
	display: flex;
	justify-content: center;
	align-items: center;
}
	.stat > label[b-u60kk723l3] {
		position: absolute;
		bottom: calc(max(1vw, 10px) * -1);
		left: 0;
		width: 100%;
		font-size: min(max(2vw, 10px), 24px);
		font-weight: bold;
		border-radius: 0.25rem;
		background: var(--color-background);
		border: 1px solid var(--color);
	}
/* /Components/TimerOutput.razor.rz.scp.css */
.timer[b-tattu2iu2c] {
	min-width: 100px;
	display: grid;
	grid-template-columns: auto min-content;
	border: 2px inset #666;
	font-size: inherit;
}

.timer-output[b-tattu2iu2c] {
	text-align: center;
	font-size: inherit;
	padding-top: 0.125rem;
}
/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-fzvffkfgi1] {
    --sidebar-height: 2.5rem;
    --sidebar-width: 100%;
    display: block;
    height: 100vh;
    width: 100vw;
    min-width: calc(var(--min-width) + 20);
}

main[b-fzvffkfgi1] {
    position: absolute;
    top: var(--sidebar-height);
    right: 0;
    width: 100%;
    height: calc(100% - var(--sidebar-height) - 1px);
    overflow-x: hidden;
}

.sidebar[b-fzvffkfgi1] {
    background-color: var(--color-contrast-0);
    position: sticky;
    height: var(--sidebar-height);
    width: var(--sidebar-width);
    z-index: 1;
    background-image: var(--texture-paper);
    border: none;
    border-bottom: 1px solid var(--color-foreground);
    border-bottom: 1px solid var(--color-foreground);
}

@media (min-width: 840px) {
    .page[b-fzvffkfgi1] {
        --sidebar-height: 0;
        --sidebar-width: 10rem;
    }

    main[b-fzvffkfgi1] {
        top: 0;
        height: 100vh;
        width: calc(100% - var(--sidebar-width));
    }

    .sidebar[b-fzvffkfgi1] {
        position: static;
        height: 100%;
        border: none;
        border-right: 1px solid var(--color-foreground);
    }
}
/* /Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-n07nno9l7k] {
	position: absolute;
	z-index: 2;
	top: 0;
	right: 0;
	margin: 0.25rem 0.5rem;
	height: 2rem;
	width: 2rem;
	padding: 0 0.25rem;
	background-color: var(--color-foreground);
	border: 2px solid var(--color-background);
}
	.navbar-toggler:hover[b-n07nno9l7k] {
		color: var(--color-primary-shade);
		border-color: var(--color-primary-shade);
	}

.line[b-n07nno9l7k] {
	border-bottom: 2px solid var(--color-background);
	margin: 0.25rem 0;
}

.collapse[b-n07nno9l7k] {
	display: none;
}

.navbar-brand[b-n07nno9l7k] {
	padding: calc(0.25rem + 1px) 0.625rem;
	margin: 0;
}

nav[b-n07nno9l7k] {
	position: absolute;
	min-width: min-content;
	width: 100%;
	display: block;
	font-family: "Lucida Console", "Courier New", monospace;
	background-color: var(--color-contrast-0);
	border-bottom: 1px solid var(--color-foreground);
	border-top: 1px solid var(--color-foreground);
}

	nav[b-n07nno9l7k]  a {
		display: block;
		width: 100%;
		padding: 0.5rem 0;
		height: min-content;
		text-align: center;
		border-bottom: 1px solid var(--color-foreground);
	}
	nav[b-n07nno9l7k]  a:hover {
		background-color: var(--color-contrast-1);
	}
	nav[b-n07nno9l7k]  a.active, .navbar-brand[b-n07nno9l7k]  a.active {
		text-decoration: underline var(--color-primary);
	}


@media (min-width: 840px) {
	.navbar-brand[b-n07nno9l7k] {
		text-align: center;
	}
	.navbar-toggler[b-n07nno9l7k] {
		display: none;
	}

	.collapse[b-n07nno9l7k] {
		/* Never collapse the sidebar for wide screens */
		display: block;
	}

	nav[b-n07nno9l7k] {
		position: static;
		border-bottom: 0;
	}

	.nav-scrollable[b-n07nno9l7k] {
		/* Allow sidebar to scroll for tall menus */
		overflow-y: auto;
	}
}
/* /Pages/Armory.razor.rz.scp.css */
body[b-p08nch7hwf] {
}
/* /Pages/CharacterSelection.razor.rz.scp.css */
.character[b-wciicapdkn] {
	display: grid;
	grid-template-columns: max-content max-content min-content auto min-content min-content;
}

	.character :nth-child(2)[b-wciicapdkn] {
		margin-right: 0.5rem;
	}
	.character :nth-child(3)[b-wciicapdkn], .character :nth-child(4)[b-wciicapdkn] {
		padding-top: 1rem;
	}

	.character > button[b-wciicapdkn] {
		margin-left: 0.25rem;
		margin-right: 0.25rem;
		text-align: center;
	}

	.character > div[b-wciicapdkn] {
		padding-top: 0.75rem;
	}

	.character.active :nth-child(2)[b-wciicapdkn] {
		text-decoration: underline 3px var(--color-primary);
	}
		.character.active :nth-child(2)[b-wciicapdkn]:after {
			color: var(--color-foreground);
			font-size: 1rem;
			content: " ✔";
		}

/* /Pages/EditSettings.razor.rz.scp.css */
.settings > button[b-6t63es5wh7] {
	margin-top: 0.5rem;
}

.export[b-6t63es5wh7] {
	display: grid;
	grid-template-columns: auto 100px;
}
	.export > label[b-6t63es5wh7] {
		padding: 0.25rem 0;
	}
	.export > *[b-6t63es5wh7] {
		margin: 0.125rem 0;
	}

.tables[b-6t63es5wh7] {
	display: grid;
	grid-template-columns: max-content 20px max-content;
}

.modifiers[b-6t63es5wh7] {
	display: grid;
	grid-template-columns: max-content 80px;
}
	.modifiers > div[b-6t63es5wh7] {
		text-align: right;
		border-top: 1px solid var(--color-foreground);
	}

.levels[b-6t63es5wh7] {
	grid-row: span 2;
	float: right;
	display: grid;
	grid-template-columns: max-content 60px;
}

	.levels > div[b-6t63es5wh7] {
		text-align: right;
		border-top: 1px solid var(--color-foreground);
	}
/* /Pages/EditStats.razor.rz.scp.css */
.general > button[b-seb96asjuv] {
	margin: 0.5rem 0;
}

.stats[b-seb96asjuv] {
	display: grid;
	grid-template-columns: min-content max-content 50px 50px auto min-content;
}
.stats > button[b-seb96asjuv] {
	margin-top: 0.5rem;
}

.stats > div[b-seb96asjuv] {
	padding-top: 0.875rem;
	margin-left: 0.5rem;
}
/* /Pages/Home.razor.rz.scp.css */

.title[b-j6vt776yl3] {
	display: grid;
	grid-template-columns: auto min-content;
}

	.title > h2[b-j6vt776yl3] {
		font-size: 1.5rem;
		margin: 0;
	}

.timer-controls[b-j6vt776yl3] {
	display: grid;
	grid-template-columns: auto auto;
}

	.timer-controls > button[b-j6vt776yl3] {
		margin-left: auto;
		margin-right: auto;
		border-radius: 1rem;
		height: 30px;
		width: 120px;
	}

.player[b-j6vt776yl3] {
	display: grid;
	grid-template-columns: max-content min-content auto min-content 32px min-content 32px;
}
	.player > h3[b-j6vt776yl3] {
		padding-top: 0.25rem;
		margin-right: 0.25rem;
		text-decoration: underline var(--color-primary);
	}
	.player > label[b-j6vt776yl3] {
		margin: 0;
		font-size: 1rem;
	}

.actions[b-j6vt776yl3] {
	display: grid;
	grid-template-columns: auto auto;
}

	.actions > button[b-j6vt776yl3] {
		margin-left: auto;
		margin-right: auto;
		border-radius: 1rem;
		height: 30px;
		width: 120px;
	}

.active-effects[b-j6vt776yl3] {
	display: grid;
	grid-template-columns: 30px auto 90px 75px 35px;
}

	.active-effects > button[b-j6vt776yl3] {
		width: 100%;
		display: block;
	}

	.active-effects > h4[b-j6vt776yl3] {
		text-align: center;
		text-decoration: underline var(--color-primary);
	}
	.active-effects > div[b-j6vt776yl3] {
		padding-top: 0.875rem;
		margin: 0 0.25rem;
	}

.edit-active-effect[b-j6vt776yl3] {
}
	.edit-active-effect > h3[b-j6vt776yl3] {
	}

	.edit-active-effect > button[b-j6vt776yl3] {
		display: inline-block;
		width: 100px;
		margin: 0.5rem auto 0.25rem auto;
	}
/* /Pages/SpellLibrary.razor.rz.scp.css */
body[b-7o5kvrkihh] {
}
/* /Pages/Tracker.razor.rz.scp.css */

.title[b-v6gsu6n763] {
	display: grid;
	grid-template-columns: auto min-content;
}

	.title > h2[b-v6gsu6n763] {
		font-size: 1.5rem;
		margin: 0;
	}

.timer-controls[b-v6gsu6n763] {
	display: grid;
	grid-template-columns: auto auto;
}

	.timer-controls > button[b-v6gsu6n763] {
		margin-left: auto;
		margin-right: auto;
		border-radius: 1rem;
		height: 30px;
		width: 120px;
	}

.player[b-v6gsu6n763] {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: 20px;
}

.portrait[b-v6gsu6n763] {
	grid-row: span 2;
	display: grid;
	grid-template-columns: max-content 30px auto;
}

.profile-image[b-v6gsu6n763] {
	height: 100px;
	aspect-ratio: 1;
	overflow: hidden;
	border-radius: 50%;
	border: 4px solid var(--color-primary);
	margin: 0 auto;
}
	.profile-image > img[b-v6gsu6n763] {
		width: 100%;
		margin: 0 auto;
	}

.level[b-v6gsu6n763] {
	padding-top: 0.375rem;
}

.health[b-v6gsu6n763], .mana[b-v6gsu6n763] {
	display: grid;
	grid-template-columns: 30px 25px min-content 30px auto;
}

.turn-buttons[b-v6gsu6n763] {
	display: grid;
	grid-template-columns: 1fr;
}

	.turn-buttons > button[b-v6gsu6n763] {
		min-width: 100px;
		margin: 0.5rem 0 1.5rem 1rem;
	}

.active-effects > button[b-v6gsu6n763] {
	width: 100%;
}

.active-effect[b-v6gsu6n763] {
	display: grid;
	grid-template-columns: 30px auto 90px 75px 35px;
}

	.active-effect > div[b-v6gsu6n763] {
		padding-top: 0.875rem;
		margin: 0 0.25rem;
	}

.edit-active-effect[b-v6gsu6n763] {
}

	.edit-active-effect > h3[b-v6gsu6n763] {
	}

	.edit-active-effect > button[b-v6gsu6n763] {
		display: inline-block;
		width: 100px;
		margin: 0.5rem auto 0.25rem auto;
	}
