.quantity {
	padding-top: 0.25rem;
	margin-left: 0.5rem;
}

.weight {
	padding-top: 0.25rem;
	text-align: right;
}

.equipment-item {
	display: grid;
	grid-template-columns: max-content auto max-content;
}

.equipment-effect {
	margin-left: 0.5rem;
	background-color: var(--color-contrast-1);
}