table {
	--chart-label-height: 0px;
	--chart-title-height: 0px;
	--line-stroke: 1px;
	position: relative;
	width: 100%;
	min-height: 100px;
	display: grid;
	grid-template-columns: 1fr;
}

caption {
	height: 1rem;
}

thead {
	position: absolute;
	width: 100%;
	height: calc(100% - var(--chart-title-height) - var(--chart-label-height));
	margin-top: var(--chart-title-height);
}
	thead > tr {
		height: 100%;
		width: 100%;
		display: grid;
		grid-template-rows: 1fr auto;
	}
th.min {
	position: absolute;
	width: 100%;
	bottom: 0;
	border-bottom: 1px dotted var(--color-foreground);
	text-align: left;
	font-size: 0.75rem;
}
th.max {
	position: absolute;
	width: 100%;
	height: calc(100% * var(--value) / var(--max));
	border-top: 1px dotted var(--color-foreground);
	bottom: 0;
	text-align: left;
	font-size: 0.75rem;
}
th.marked {
	position: absolute;
	width: 100%;
	height: calc(100% * var(--value) / var(--max));
	border-top: 1px dotted red;
	bottom: 0;
	text-align: left;
	font-size: 0.75rem;
}

tbody {
	position: absolute;
	width: calc(100% - 3rem);
	height: calc(100% - var(--chart-title-height));
	bottom: 0;
	display: grid;
	margin-left: 3rem;
	grid-template-columns: repeat(var(--total-points), auto);
	overflow-inline: clip;
}

tbody > tr {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr auto;
	overflow-inline: clip;
	align-content: end;
	align-items: end;
}

tbody > tr > th {
	text-align: center;
	order: 1;
}

	.chart-value {
		height: calc(100% * var(--value) / var(--max));
		background-color: var(--color-primary);
		text-align: center;
		
	}
		.chart-value:hover > .chart-value-label {
			display: block;
		}

.chart-value-label {
	text-align: center;
	display: none;
	margin-top: calc(var(--chart-title-height) * -1);
}

