
.stats {
	display: grid;
	grid-template-columns: max-content;
}

.stat {
	position: relative;
	height: 40px;
	aspect-ratio: 1;
	margin-bottom: 0.75rem;
	text-align: center;
	font-size: 24px;
	border-radius: 50%;
	border: 5px solid var(--color);
	background: var(--color-background);
	display: flex;
	justify-content: center;
	align-items: center;
}
	.stat > label {
		position: absolute;
		bottom: -10px;
		left: 0;
		width: 100%;
		font-size: 12px;
		font-weight: bold;
		border-radius: 0.25rem;
		background: var(--color-background);
		border: 1px solid var(--color);
	}
