
.stats {
	display: grid;
	grid-template-columns: repeat(var(--stat-count), auto);
	padding: 0.25rem 0 0.75rem 0;
}

.stat {
	position: relative;
	height: max(6vw, 18px);
	max-height: 72px;
	aspect-ratio: 1;
	margin: 0 auto;
	text-align: center;
	font-size: min(max(4vw, 14px), 50px);
	border-radius: 50%;
	border: min(max(1vw, 3px), 10px) solid var(--color);
	background: var(--color-background);
	display: flex;
	justify-content: center;
	align-items: center;
}
	.stat > label {
		position: absolute;
		bottom: calc(max(1vw, 10px) * -1);
		left: 0;
		width: 100%;
		font-size: min(max(2vw, 10px), 24px);
		font-weight: bold;
		border-radius: 0.25rem;
		background: var(--color-background);
		border: 1px solid var(--color);
	}
