.character {
	display: grid;
	grid-template-columns: max-content max-content min-content auto min-content min-content;
	margin-top: 0.25rem;
}

	.character :nth-child(2) {
		margin-right: 0.5rem;
	}

	.character > button {
		margin: 0 0.25rem;
		text-align: center;
	}

	.character.active :nth-child(2) {
		text-decoration: underline 3px var(--color-primary);
	}
		.character.active :nth-child(2):after {
			color: var(--color-foreground);
			font-size: 1rem;
			content: "✔";
			margin-left: 0.5rem;
		}

.create-new {
	margin-top: 1rem;
}
