.character {
	display: grid;
	grid-template-columns: max-content max-content min-content auto min-content min-content;
}

	.character :nth-child(2) {
		margin-right: 0.5rem;
	}
	.character :nth-child(3), .character :nth-child(4) {
		padding-top: 1rem;
	}

	.character > button {
		margin-left: 0.25rem;
		margin-right: 0.25rem;
		text-align: center;
	}

	.character > div {
		padding-top: 0.75rem;
	}

	.character.active :nth-child(2) {
		text-decoration: underline 3px var(--color-primary);
	}
		.character.active :nth-child(2):after {
			color: var(--color-foreground);
			font-size: 1rem;
			content: " ✔";
		}

