.settings > button {
	margin-top: 0.5rem;
}

.export {
	display: grid;
	grid-template-columns: auto 100px;
}
	.export > label {
		padding: 0.25rem 0;
	}
	.export > * {
		margin: 0.125rem 0;
	}

.tables {
	display: grid;
	grid-template-columns: max-content 20px max-content;
}

.modifiers {
	display: grid;
	grid-template-columns: max-content 80px;
}
	.modifiers > div {
		text-align: right;
		border-top: 1px solid var(--color-foreground);
	}

.levels {
	grid-row: span 2;
	float: right;
	display: grid;
	grid-template-columns: max-content 60px;
}

	.levels > div {
		text-align: right;
		border-top: 1px solid var(--color-foreground);
	}