
header {
	display: grid;
	grid-template-columns: auto min-content;
	padding: 0.5rem;
}

	header > h2 {
		font-size: 1.5rem;
		margin: 0;
	}

button {
	padding: 0.125rem 0;
	height: 32px;
}

.inventory-item {
	display: grid;
	grid-template-columns: 40px auto 40px;
	border-top: 1px dotted var(--color-foreground);
}

.equipment-chest-item {
	display: grid;
	grid-template-columns: 40px auto 40px 40px;
	border-top: 1px dotted var(--color-foreground);
}

	.inventory-item > button,
	.equipment-chest-item > button {
		margin-top: 0.25rem;
	}

.edit-equipment > button {
	width: 80px;
	margin: 0.5rem 0;
}

.equipment-effect {
	margin-top: 0.25rem;
	padding-top: 0.25rem;
	border-top: 1px dotted var(--color-foreground);
	display: grid;
	grid-template-columns: 50px auto 50px;
}

.effect-text {
	padding-top: 0.5rem;
}
