
header {
	display: grid;
	grid-template-columns: auto min-content;
	padding: 0.5rem;
}

	header > h2 {
		font-size: 1.5rem;
		margin: 0;
	}

.player {
	padding: 0.5rem;
	display: grid;
	grid-template-columns: min-content auto;
}

.stats {
	grid-row: span 3;
	margin-right: 0.5rem;
}

.portrait {
	display: grid;
	grid-template-columns: 40px auto;
}

.name {
	display: grid;
	grid-template-columns: max-content 30px auto;
	margin-top: 0.5rem;
}

.image-and-turn-buttons {
	display: grid;
	grid-template-columns: auto max-content;
	grid-template-rows: 60px;
}

.profile-image {
	grid-row: span 2;
	height: 100px;
	aspect-ratio: 1;
	overflow: hidden;
	border-radius: 50%;
	border: 4px solid var(--color-primary);
	margin-right: auto;
}
	.profile-image > img {
		width: 100%;
		margin: 0 auto;
	}

.turn-button {
	height: 32px;
	width: 80px;
}

.level {
	padding-top: 0.375rem;
}

.rest-button {
	grid-row: span 2;
	margin: 0.25rem 0.5rem 0.25rem 0;
}

.health, .mana {
	display: grid;
	grid-template-columns: 20px 32px min-content 32px auto;
}

.quick-actions {
	display: grid;
	grid-template-columns: auto 40px;
}
.quick-actions > div {
	margin-top: 1.5rem;
}

.action-button {
	height: 32px;
	margin: 1rem 0 0 0.5rem;
}

.spellbook {
	display: grid;
	grid-template-columns: 1fr;
}

.spell {
	display: grid;
	grid-template-columns: auto 40px 40px;
	border-top: 1px dotted var(--color-foreground);
}

.equipment-item {
	display: grid;
	grid-template-columns: auto 40px 40px;
	border-top: 1px dotted var(--color-foreground);
}
	.spell > button,
	.equipment-item > button {
		margin: 0.5rem 0 0.5rem 0.5rem;
		height: 32px;
	}

.active-effect {
	display: grid;
	grid-template-columns: 40px auto 40px;
	border-top: 1px dotted var(--color-foreground);
}

	.active-effect > div {
		padding-top: 0.75rem;
		margin: 0 0.25rem;
	}
	.active-effect > button {
		height: 32px;
		margin-top: 0.5rem;
	}

.edit-active-effect > button {
	display: inline-block;
	width: 100px;
	margin: 0.5rem auto 0.25rem auto;
	height: 32px;
}

dialog > h4 {
	margin-bottom: 0.5rem;
}