.timer {
	min-width: 80px;
	display: grid;
	grid-template-columns: auto min-content;
	border: 2px solid #666;
	font-size: inherit;
}

.timer-output {
	text-align: center;
	font-size: inherit;
	padding-top: 0.125rem;
}
